* {
    background-color: blanchedalmond;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* 16 columns for a 16x16 grid */
    grid-template-rows: repeat(16, 1fr); /* 16 rows for a 16x16 grid */
    width: 320px; /* Total width and height of the grid */
    height: 320px; /* Set the total size to make it a square */
}
  
  .cell {
    width: 100%; /* Each cell takes up the full width of the column */
    height: 100%; /* Each cell takes up the full height of the row */
    transition: background-color 0.3s;
    background-color: white;
    ;
  }
  
  .cell:hover {
    background-color: yellow;
  }

  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  